*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;

}

body{
    background-image: url(../css/img/background.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    color: blanchedalmond;
    font-family: 'Montserrat';
}

.construccion{
    background-image: url(../css/img/construccion.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;

}

.escuela{
    background-image: url(../css/img/school.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    color:aliceblue;
}

.maderas{
    background-image: url(../css/img/maderas.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    color:#FFE05D;
}


ul{
    list-style: none;
}
