*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
;

}

body{
    color: #ffebcd;
    font-family: 'Montserrat';
}

header div a{
    color: blanchedalmond !important
}

.index{
    background-image: url(../css/img/backgrounds/index.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
}

.inicio{
    background-image: url(../css/img/backgrounds/inicio.jpg);
    background-size:cover ;
    background-position: center;
    background-attachment: fixed;
    
}

.construccion{
    background-image: url(../css/img/backgrounds/construccion.jpg);
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
}

.construccion main h1, h2, p{
    color:transparent;
    background: linear-gradient(351deg, rgba(255,235,205,1) 0%, rgba(93,70,50,1) 50%);
    text-shadow: 2px 1px blanchedalmond;
    -webkit-background-clip: text;
}

.escuela{
    background-image: url(../css/img/backgrounds/escuela.jpg);
    background-size:cover;
    background-position:center;
    background-attachment: fixed;
    color:blanchedalmond;
}
.escuela main h1, h2, p{
    color:transparent;
    background: linear-gradient(351deg, rgba(255,235,205,1) 0%, rgba(93,70,50,1) 50%);
    text-shadow: 2px 1px blanchedalmond;
    -webkit-background-clip: text;
}

.maderas{
    background-image: url(../css/img/backgrounds/maderas.jpg);
    background-size:cover;
    background-position:center;
    background-attachment: fixed;
    color: blanchedalmond;
}


ul{
    list-style: none;
}


.animate__animated.animate__fadeIn {
    --animate-duration: 3s;
}