*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
;

}


body{
    color: blanchedalmond;
    font-family: 'Montserrat';
}

header div a{
    color: blanchedalmond !important
}

.index{
    background-image: url(../css/img/background.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.inicio{
    background-image: url(../css/img/3.jpg);
    background-size:cover ;
    background-position: center;
    background-attachment: fixed;
}

.construccion{
    background-image: url(../css/img/2.jpg);
    background-size:cover;
    background-attachment: fixed;
    background-position: center;

}

.construccion main h1, h2, p{
    color:transparent;
    background: linear-gradient(351deg, rgba(255,235,205,1) 0%, rgba(93,70,50,1) 50%);
    text-shadow: 2px 2px blanchedalmond;
    -webkit-background-clip: text;
}

.escuela{
    background-image: url(../css/img/5.jpg);
    background-size:cover;
    background-position:center;
    background-attachment: fixed;
    color:blanchedalmond;
}

.maderas{
    background-image: url(../css/img/school.jpg);
    background-size:cover;
    background-position:center;
    background-attachment: fixed;
    color: blanchedalmond;
}


ul{
    list-style: none;
}
